

  <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>supervisor_account</mat-icon>
    </button>
    <span>Appraiser Staff Manager</span>
    <span class="example-spacer"></span>
    <button mat-raised-button class = "addMember" color="warn" (click)="openAppraiserDialog()">Add Member</button>
    <button mat-raised-button class = "addOrder" color="warn" (click)="openOrdersDialog()">Assign Order</button>
  </mat-toolbar>


<div class = "container">
  <div style = "margin-top: 10px;">
    <mat-form-field>
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
    </mat-form-field>

    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort>

        <!-- Employee ID# -->
        <ng-container matColumnDef="emp_id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> ID Num </th>
          <td mat-cell *matCellDef="let row"> {{row.emp_id}} </td>
        </ng-container>

        <!-- First Name -->
        <ng-container matColumnDef="first_name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> First Name </th>
          <td mat-cell *matCellDef="let row"> {{row.first_name}} </td>
        </ng-container>

        <!-- ast Name -->
        <ng-container matColumnDef="last_name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </th>
          <td mat-cell *matCellDef="let row"> {{row.last_name}} </td>
        </ng-container>

        <!-- treet Number -->
        <ng-container matColumnDef="street_number">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Street Number </th>
          <td mat-cell *matCellDef="let row"> {{row.street_number}} </td>
        </ng-container>

        <!-- Street Name-->
        <ng-container matColumnDef="street_name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Street Name </th>
          <td mat-cell *matCellDef="let row"> {{row.street_name}} </td>
        </ng-container>

        <!-- City Name-->
        <ng-container matColumnDef="city">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> City </th>
          <td mat-cell *matCellDef="let row"> {{row.city}} </td>
        </ng-container>

        <!-- State -->
        <ng-container matColumnDef="state_id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> State </th>
          <td mat-cell *matCellDef="let row"> {{row.state_id}} </td>
        </ng-container>

        <!-- Zip -->
        <ng-container matColumnDef="zip_code">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Zip </th>
          <td mat-cell *matCellDef="let row"> {{row.zip_code}} </td>
        </ng-container>

        <!-- Date of Contract -->
        <ng-container matColumnDef="employment_date">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Date of Contract </th>
          <td mat-cell *matCellDef="let row"> {{row.employment_date | date}} </td>
        </ng-container>

        <!-- License Type -->
        <ng-container matColumnDef="license_level">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> License Type </th>
          <td mat-cell *matCellDef="let row"> {{row.license_level}} </td>
        </ng-container>

        <!-- License Number -->
        <ng-container matColumnDef="license_number">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> License Number </th>
          <td mat-cell *matCellDef="let row"> {{row.license_number }} </td>
        </ng-container>

        <!-- FHA -->
        <ng-container matColumnDef="fha">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> FHA </th>
          <td mat-cell *matCellDef="let row"> {{row.fha}} </td>
        </ng-container>

        <!-- VA -->
        <ng-container matColumnDef="va">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> VA </th>
          <td mat-cell *matCellDef="let row"> {{row.va}} </td>
        </ng-container>



         <!-- Number of Orders Assigned -->
         <!-- <ng-container matColumnDef="activeOrders">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> activeOrders </th>
          <td mat-cell *matCellDef="let row"> {{row.activeOrders}} </td>
        </ng-container> -->

        <!-- Coverage -->
        <!-- <ng-container matColumnDef="stateCoverage">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Coverage </th>
          <td mat-cell *matCellDef="let row"> {{row.stateCoverage}} </td>
        </ng-container> -->

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
          <td mat-cell *matCellDef="let row">
            <button mat-icon-button (click)="editAppraiser(row)" color = "primary">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button (click)="deleteAppraiser(row.id)" color = "warn">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
        </tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
    </div>
  </div>
</div>
