.example-spacer {
  flex: 11 auto;
}

table {
  width: 80%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

.container{
  max-width: 90%;
  margin: 0 auto;
}

.addMember {
  margin-right: 1em;
}


.appraisersButton {
  background-color: rgb(73, 138, 89) !important;
}


.ordersButton {
  background-color: rgb(92, 73, 138) !important;
}
