.example-spacer {
  flex: 11 auto;
}

table {
  width: 80%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

.container{
  max-width: 90%;
  margin: 0 auto;
}

.addMember {
  margin-right: 1em;
}


.appraisersButton {
  background-color: rgb(189, 27, 27) !important;
  margin-left: 1em;
  text-decoration: none;
}


.ordersButton {
  background-color: rgb(189, 27, 27) !important;
  margin-left: 1em;
  text-decoration: none ;
}

.clientsButton {
  background-color: rgb(189, 27, 27) !important;
  margin-left: 1em;
  text-decoration: none ;
}
